
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Main Login</h2>
<div>
    @Html.ActionLink("Old User", "Login_Pageload", "Login")
</div>
<div>
    @Html.ActionLink("New User", "insert_Pageload", "Insert")
</div>

